@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.content-wrapper {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
}

.header-section {
  background-color: #fff;

  .header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    .logo {
      color: black;
      font-weight: 800;
      text-decoration: none;
      font-size: 1.6em;
    }

    .nav-bar {
      margin-top: 5px;

      .nav-item {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1em;
        text-decoration: none;
        color: black;
      }

      .nav-number {
        margin-left: 30px;
        font-weight: bold;
        font-size: 1em;
      }
    }
  }
}

.hero-section {
  background-color: #484848;

  .hero-content {
    margin: 100px 300px;
    color: white;

    .hero-title {
      font-weight: 800;
      font-size: 4em;
      text-align: center;
      margin-bottom: 50px;
    }

    .hero-paragraph {
      font-size: 1.4em;
      font-weight: 300;
      line-height: 30px;
      text-align: center;
    }
  }
}

.features-section {
  background-color: #eeeeee;

  .features-content {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;

    .feature-item {
      text-align: center;
      width: 22%;

      .far.fa-comment-alt {
        background-color: #3498db;
        padding: 40px;
        border-radius: 60px;
        font-size: 2em;
        color: white;
        margin-bottom: 30px;
      }

      .features-subtitle {
        font-size: 1.5em;
        font-weight: 700;
        color: #3498db;
        margin-bottom: 30px;
      }

      .item-text {
        text-align: justify;
        font-size: 1em;
      }
    }
  }
}

.showcase-section {
  background-color: #e5e5e5;

  .showcase-content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;

    .showcase-text {
      width: 450px;

      .showcase-description {
        font-size: 1em;
        margin-bottom: 40px;
      }

      .showcase-title {
        font-size: 3em;
        font-weight: 800;
        margin-bottom: 40px;
      }

      .showcase-paragraph {
        font-size: 1.2em;
        line-height: 25px;
        margin-bottom: 45px;
      }

      .showcase-button {
        text-decoration: none;
        color: black;
        font-weight: 700;
        background-color: #f5f5f5;
        padding: 10px 60px;
      }
    }

    .laptop-image {
      width: 500px;
    }
  }

  .product-container {
    display: flex;
    margin-bottom: 80px;

    .product {
      width: 33%;
      height: 200px;
      padding: 30px;
      text-align: center;

      .product-description {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .product-title {
        font-size: 2.2em;
        font-weight: 800;
      }
    }

    .product-1,
    .product-2 {
      background-color: white;
    }

    .product-3 {
      background-color: black;
      color: white;
    }
  }
}

.news-section {
  background-color: #eeeeee;

  .news-content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;

    .new {
      width: 32%;

      .new-type {
        font-size: 1.2em;
        font-weight: 800;
        margin-right: 30px;
      }

      a {
        font-size: 1em;
        text-decoration: none;
        color: black;
      }

      hr {
        border: 2px solid white;
        width: 15%;
        margin: 15px 0 25px;
      }

      .new-box {
        background-color: white;

        .new-image {
          height: 150px;
          display: flex;
          align-items: flex-end;
          background-color: #666666;
          margin-bottom: 20px;

          .new-date {
            background-color: #878787;
            color: white;
            padding: 5px 25px;
            font-size: 1em;
          }
        }

        .new-title {
          color: #67b2e4;
          font-size: 1.2em;
          font-weight: 800;
          margin-bottom: 15px;
          padding-left: 15px;
          padding-right: 15px;
        }

        .new-text {
          font-size: 1em;
          line-height: 18px;
          padding-left: 15px;
          padding-right: 15px;
          text-align: justify;
          padding-bottom: 20px;
        }
      }
    }
  }
}

.footer-section {
  background-color: #c9c9c9;

  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 80px;

    .side-footer {
      display: flex;
    }
    .links {
      display: flex;
      flex-direction: column;
      margin-left: 100px;

      a {
        text-decoration: none;
        color: #626262;
        margin-bottom: 10px;
      }
    }
    .company-name {
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: 30px;
    }

    .company-direction,
    .company-firm {
      color: #626262;
      font-size: 1em;
      margin-bottom: 25px;
      line-height: 16px;
    }

    .form {
      a {
        text-decoration: none;
        font-size: 1em;
        color: white;
        font-weight: 700;
        background-color: #626262;
        padding: 5px 10px;
        margin-left: 10px;
      }

      p:last-of-type {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .button-container {
        display: flex;
        width: 150px;
        justify-content: space-between;
      }

      .follow-button {
        height: 30px;
        width: 30px;
        background-color: white;
      }
    }
  }
}
